  
   
           <!-- Begin page -->
           <div id="wrapper">
   
              <app-sidebar></app-sidebar>
  
              
  
             <!-- Start right Content here -->
  
             <div class="content-page">
                 <!-- Start content -->
                 <div class="content">
  
                      <app-topbar></app-topbar>
  
                     <div class="page-content-wrapper " style="min-height:750px">
  
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-12 col-xl-12">
                                  <h4 class="text-muted text-center font-18"><b>Modify Transaction</b></h4>
                                  <p></p><p></p>
                                  <div class="p-3">
                                <form class="form-horizontal m-t-20" id="newTransform"  name="newTransform" class="default-form" #newTransform="ngForm">
                                  <div *ngIf="newTrfErr" class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                   <span >{{newTrfErr}}</span>
                                   
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-3 pull-right">Enter Transaction Id:</label>
                                        
                                        <div class="col-3">
                                            <input id="acctdebitnumb" name="acctdebitnumb" [(ngModel)]="newTranData.acctdebitnumb" #acctdebitnumb="ngModel" class="form-control" type="text" required="" placeholder="Transaction Id">
                                        </div>
                                        <div class=" col-3">
                                            <button type="button"   (click)="getCust(newTranData)"  class="btn btn-primary" >seacrh&nbsp;<i class="fa fa-arrow-circle-o-right"></i></button>
                                    </div> 
                                    
                                      </div>
                                      <div class="row" style="padding: 20px;">
                                          <div class="col-12 col-md-12"  style="border: solid 1px;"></div>
                                        </div>
                                  <div class="form-group row">
                                      <label class="col-3 pull-right">Account Number to Debit:</label>
                                        
                                        <div class="col-3">
                                            <input id="acctdebitnumb" name="acctdebitnumb" [(ngModel)]="newTranData.acctdebitnumb" #acctdebitnumb="ngModel" class="form-control" type="text" required="" placeholder="Account Number">
                                        </div>
                                        <div class=" col-3">
                                            <button type="button"   (click)="getCust(newTranData)"  class="btn btn-primary" >seacrh&nbsp;<i class="fa fa-arrow-circle-o-right"></i></button>
                                    </div> 
                                    <div class="col-3">
                                    {{newTranData.acctdebitname}}   
                                    </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-3 pull-right">Account Type:</label>
                                            
                                            <div class="col-3">
                                                  {{newTranData.acctdebittype}}
                                          </div>
                                          <label class="col-3 pull-right">Account Balance:</label>
                                          <div class="col-3">
                                              {{newTranData.acctdebitbal}}
                                      </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-3">Transfer Amount:</label>
                                            <div class="col-3">
                                                <input id="acctdebitamount" name="acctdebitamount" [(ngModel)]="newTranData.acctdebitamount" #acctdebitamount="ngModel" class="form-control" type="text" required="" placeholder="Transfer Amount">

                                            </div>
                                            <label class="col-3">Trans Date:</label>
                                            {{newTranData.acctdebitdate}}
                                        </div>
                                        <div class="form-group row">
                                          <label class="col-3 pull-right">Naration:</label>
                                            
                                            <div class="col-9">
                                                <input id="acctdebitnaration" name="acctdebitnaration" [(ngModel)]="newTranData.acctdebitnaration" #acctdebitnaration="ngModel" class="form-control" type="text" required="" placeholder="Naration">   
                                          </div>
                                      </div>
                                      <div class="row" style="padding: 20px;">
                                        <div class="col-12 col-md-12"  style="border: solid 1px;"></div>
                                      </div>

                                    
                                    <div class="form-group row">
                                        <label class="col-3 pull-right">Account Number to Credit:</label>
                                          
                                          <div class="col-3">
                                              <input id="acctcreditnumb" name="acctcreditnumb" [(ngModel)]="newTranData.acctcreditnumb" #acctcreditnumb="ngModel" class="form-control" type="text" required="" placeholder="Account Number">
                                          </div>
                                          <div class=" col-3">
                                              <button type="button"   (click)="getCust(newTranData)"  class="btn btn-primary" >seacrh&nbsp;<i class="fa fa-arrow-circle-o-right"></i></button>
                                      </div> 
                                      <div class="col-3">
                                      {{newTranData.acctcreditname}}   
                                      </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3 pull-right">Account Type:</label>
                                              
                                              <div class="col-3">
                                                    {{newTranData.acctcredittype}}
                                            </div>
                                            <label class="col-3 pull-right">Account Balance:</label>
                                            <div class="col-3">
                                                {{newTranData.acctcreditbal}}
                                        </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-3">Transfer Amount:</label>
                                              <div class="col-3">
                                                  <input id="acctcreditamount" name="acctcreditamount" [(ngModel)]="newTranData.acctcreditamount" #acctcreditamount="ngModel" class="form-control" type="text" required="" placeholder="Transfer Amount">
  
                                              </div>
                                              <label class="col-3">Trans Date:</label>
                                              {{newTranData.acctcreditdate}}
                                          </div>
                                          <div class="form-group row">
                                            <label class="col-3 pull-right">Naration:</label>
                                              
                                              <div class="col-9">
                                                  <input id="acctcreditnaration" name="acctcreditnaration" [(ngModel)]="newTranData.acctcreditnaration" #acctcreditnaration="ngModel" class="form-control" type="text" required="" placeholder="Naration">   
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 20px;">
                                          <div class="col-12 col-md-12"  style="border: solid 1px;"></div>
                                        </div>
                           
            
                                              <div class="form-group text-center row m-t-20">
                                                  <div class="col-12">
                                                      <button (click)="trfTrans(passData)" class="btn btn-info btn-block waves-effect waves-light" type="button">Transfer</button>
                                                  </div>
                                              </div>
                                </form>
                              </div>          
                              </div>
                            </div>        
                                              
                                  
                                  
                          </div>
  
  
                     </div> <!-- Page content Wrapper -->
  
                 </div> <!-- content -->
  
                 <app-dashfooter></app-dashfooter>
                
  
             </div>
             <!-- End Right content here -->
  
         </div>
         <!-- END wrapper -->
         
  
