  
   
           <!-- Begin page -->
           <div id="wrapper">
   
              <app-sidebar></app-sidebar>
  
              
  
             <!-- Start right Content here -->
  
             <div class="content-page">
                 <!-- Start content -->
                 <div class="content">
  
                      <app-topbar></app-topbar>
  
                     <div class="page-content-wrapper " style="min-height:750px">
  
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-12">
                                  <div class="card m-b-30">
                                      <div class="card-body">
  
                                      <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                        
                                                <div class="row">
                                                  <div class="col-sm-12">
                                                  <table  class="table table-bordered dataTable no-footer" >
                                              <thead>
                                                  <tr >
                                                      <th class="sorting_asc" style="width: 251px;">S/N</th>
                                                      <th class="sorting_asc" style="width: 251px;">Account Number</th>
                                                      <th class="sorting_asc" style="width: 251px;">Account Name</th>
                                                      <th class="sorting_asc" style="width: 251px;">Account Type</th>
                                                      <th class="sorting_asc" style="width: 251px;">Account Description</th>
                                                      <th class="sorting_asc" style="width: 251px;">Account Terminal</th>
                                              
                                                      <th></th>
                                                    
                                                      
                                                    </tr>
                                              </thead>
  
  
                                              <tbody>
                                                  <tr *ngFor="let client of clients" role="row" class="even">
                                                      <td>{{client.name}}</td>
                                                      <td>{{client.gender}}</td>
                                                      <td>{{client.company}}</td>
                                                      <td>{{client.name}}</td>
                                                      <td>{{client.gender}}</td>
                                                      <td>{{client.company}}</td>
                                                   
                                                      <td><button (click)="chngPass(passData)" class="btn btn-info btn-block waves-effect waves-light" type="button">Edit</button></td>
                                                     </tr>                                             
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                          
                                        </div>
  
                                      </div>
                                  </div>
                              </div> <!-- end col -->
                          </div>        
                                              
                            
                                  
                          </div>
  
  
                     </div> <!-- Page content Wrapper -->
  
                 </div> <!-- content -->
  
                 <app-dashfooter></app-dashfooter>
                
  
             </div>
             <!-- End Right content here -->
  
         </div>
         <!-- END wrapper -->
         
  